@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;0,800;1,600&display=swap');

body {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.container {
    height: 100%;
}

h1 {
        font-size: 6rem;
    }

h2 {
        font-size: 4rem;
}

header {
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 3;
}

header svg:first-child {
    margin-right: 1em;
}

header h3 {
    margin-bottom: 0;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar {
    padding: 2em 0;
    background: transparent;
    transition: .3s ease-in-out;
}

.navbar p {
    display: inline-block;
    margin: 0;
}

.navbar-brand {
    display: flex;
}

.navbar-bg {
    background: #4A8FE2;
    transition: .3s ease-in-out;
}

h1 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0;
}

h2 {
    text-transform: uppercase;
    margin-bottom: .5em;
}

.hero {
    position: relative;
    height: 100vh;
    min-height: 694px;
    background: linear-gradient(180deg, #fff, #4A8FE2, #2877D7, #0C61C8);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    text-align: center;
    color:#fff;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}
.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(Assets/hero.jpg);
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(100%);
    opacity: 0.5;
    mix-blend-mode: multiply;
    animation: color-to-bw 10s ease-in-out infinite;
}

@keyframes color-to-bw {
    0% {
        filter: grayscale(100%);
    }

    50% {
        filter: grayscale(0);
    }

    100% {
        filter: grayscale(100%);
    }
}
.hero .container {
    display: flex;
    padding-top: 2em;
}

.block-centered {
    display: block;
    margin: auto;
    width: clamp(9rem, 15vw, 14rem);
}

.main-info {
    position: relative;
    height: 100vh;
    min-height: 960px;
}

.main-info .small-circle, .main-info .big-circle {
    position: absolute;
    z-index: -1;
}

.main-info .small-circle {
    top: -100px;
    left: -100px;
}

.main-info .big-circle {
    bottom: -432px;
    right: -332px;
}

.main-info-text {
    min-height: 514px;
}

.cell-phone {
    position: relative;
}

.cellphone-logo-block {
    position: absolute;
    z-index: 2;
    text-align: center;
}

.cellphone-logo-block svg, .cellphone-logo-block g {
    width: clamp(10rem, 15vw, 15rem);
}

#cellphone-img {
    width: clamp(20rem, 10vw, 25rem);
}

#main-info-row-container {
    height: 100vh;
    min-height: 683px;
}

.main-info-text {
    height: 50vh;
}

.main-info-text h2:first-child, .main-info-text p {
    margin-bottom: 0;
}

.main-info-text h2:nth-child(2) {
    margin-bottom: 0;
    font-weight: 700;
}

.main-info-text h4 {
    text-transform: uppercase;
    font-weight: 600;
}

.testimonial-section {
    position: relative;
    background: linear-gradient(-45deg, #fff, #4A8FE2, #2877D7, #0C61C8);
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    text-align: center;
    height: 50vh;
    min-height: 672px;
    color: #fff;
}

.testimonial-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("Assets/testimonial-bg-1.jpg");
    background-attachment: fixed;
    background-size: cover;
    filter: grayscale(100%);
    mix-blend-mode: multiply;
    animation: color-to-bw 10s ease-in-out infinite;
}

.testimonial-section img {
    display: block;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 2em;
}

.testimonial-section p:last-child {
    margin-bottom: 0;
}

.testimonial .col {
    width: 40%;
}

.testimonial-section .container .row:nth-child(2) {
    width: 20%;
}

.vert-rule {
    border-right: 2px solid #fff;
    height: 40vh;
    min-height: 315px;
    width: 2px;
}

.signup {
    position: relative;
    height: 50vh;
    min-height: 510px;
    overflow: hidden;
}

.signup h2, .signup button {
    text-transform: uppercase;
    font-weight: 900;
}

.signup button {
    padding: 1em;
}

.btn-primary {
    background-color: #4A8FE2;
    border-color: #4A8FE2;
    transition: all .2s ease-in-out;
    width: 20%;
    margin: 0 auto;
}

.btn-primary:hover {
    background-color: #0C61C8;
    border-color: #0C61C8;
    transition: all .2s ease-in-out;
}

.signup h2, .signup p {
    text-align: center;
}

.signup .small-circle {
    position: absolute;
    bottom: -100px;
    left: -100px;
    z-index: -1;
}

.signup .big-circle {
    position: absolute;
    top: -432px;
    right: -332px;
    z-index: -1;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding-bottom: 2em;
}

footer p {
    display: inline-block;
    margin: 0;
}

@media (min-width: 1200px) {
    
    .nav-item a p {
        display: none;
    }

    .main-info-text h2 {
        margin: 0;
        padding-left: 15px;
    }

}

@media (max-width: 1200px) {
    
    .main-info-text {
        height: 60vh;
    }

    .main-info-text h2:first-child {
        font-size: 3.5rem;
    }

    .main-info-text h4 {
        font-size: 1.2rem;
    }

    .main-info-text p {
        font-size: .9rem;
    }
}


@media (max-width: 992px) {

    .main-info-text h2 {
        font-size: 3rem;
        margin: 0 auto;
        padding: 0;
    }

    .main-info-text h2:first-child {
        font-size: 2.2rem;
    }

    .cellphone-logo-block svg, .cellphone-logo-block g {
    width: 10em;
    }
    
    .cellphone-logo-block h3 {
        margin-top: 0;
    }

    .main-info-text .col-10 {
        flex: 0 0 65%;
    }

}

@media (max-width: 768px) {

    header .container {
        width: 90%;
        margin: 0 auto;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .container {
        max-width: 720px;
    }

    .main-info {
        flex-direction: column;
        height: 100vh;
        min-height: 1706px;
        /*overflow: hidden;*/
    }

    .main-info .container {
        display: flex;
        align-items: center;
    }

    .main-info .row {
        flex-direction: column;
        height: 25%;
    }

    .main-info .row:first-child {
        height: 20%;
    }

    .main-info svg {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
    }

    #main-info-row-container {
        flex-direction: column;
        height: 90%;
    }

    .main-info-text {
        justify-content: center;
        text-align: center;
    }

    .testimonial-section {
        height: 100vh;
        min-height: 895px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .testimonial-section .container {
        flex-direction: column;
        height: 90%;
    }

    .testimonial-section .row {
        height: 100%;
        align-items: center;
    }

    .testimonial-section .container .row:nth-child(2) {
        width: 100%;
        height: 5%;
    }

    .testimonial-section .col {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .testimonial-section .col-2 {
        align-items: center;
        width: 100%;
        height: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    hr {
        width: 100%;
        height: 2px;
        border-right: 0;
        border-top: 2px solid #fff;
    }

    .vert-rule {
        display: none;
    }

    .signup h2 {
        font-size: 2rem;
    }

    .btn-primary {
        width: 50%;
    }

    .signup p {
        font-size: .8rem;
    }




}

@media (max-width: 576px) {

    .container {
        max-width: 476px;
    }
}

@media (max-width: 1200px) {
    .navbar-nav {
        margin-top: 1rem;
        padding-top: 1rem;
        border-top: 1px solid #fff;
    }
}
